html {
    overflow: hidden;
}

body .bodystyle {
    background-image: url("images/ghost_in_the_shell_background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.human {
    height: 70vh;
    top: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 40%);
}

.defeated-human {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 0.1px;
}

.lana-win {
    -webkit-animation-name: lanaWin;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    animation-name: lanaWin;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes lanaWin {
    0% {
        transform: translate(0, 40%);
        height: 70vh;
    }
    50% {
        opacity: 0;
        transform: translate(200%, 40%);
    }
    100% {
        opacity: 0;
        height: 30vh;
    }
}

/* Standard syntax */

@keyframes lanaWin {
    0% {
        transform: translate(0, 40%);
        height: 70vh;
    }
    50% {
        opacity: 0;
        transform: translate(200%, 40%);
    }
    100% {
        opacity: 0;
        height: 30vh;
    }
}

.walls {
    position: absolute;
    top: 25%;
    height: 75%;
    border-radius: 2.8vw;
    border: 1vw solid black;
    transition: 1s ease-out;
}

.leftwall {
    right: 85%;
}

.rightwall {
    left: 85%;
}

.allGuessInputDiv {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: #002080;
    opacity: 0.8;
    border: 3px solid black;
    border-radius: 1vw;
    margin-top: 5px;
    z-index: -1;
}

textarea {
    color: black;
}

.contentWrapDiv {
    color: white;
    opacity: 1;
    margin-left: 25%;
}

.responseDiv {
    color: lime;
    background-color: darkslategrey;
    display: inline-block;
    position: absolute;
    left: 310px;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    border: 0.5vw solid beige;
    border-radius: 1vw;
    padding-left: 20px;
    margin-top: 5px;
    font-family: "Lucidia Console", Monaco, monospace;
    opacity: 0.8;
    z-index: -1;
    overflow: scroll;
}

.headerDiv {
    position: relative;
}

audio {
    display: inline-block;
    position: absolute;
    margin-left: 80%;
}

.modal-guess-game {
    display: none;
}

#instructions-div {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 300px;
    transform: translate(0, 40%);
    z-index: 2;
    margin-left: 60%;
}

#instructions-div h1 {
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .03em;
    font-size: 5em;
}

#instructions-div span {
    position: relative;
    color: white;
    font-size: 1.6em;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .03em;
}

#initial-background-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.play-now-button,
.play-music-button {
    display: inline-block;
    position: absolute;
    transform: translate(60vw, 76vh);
}

.play-now-button {
    transform: translate(60vw, 76vh);
    z-index: 1;
}

.play-music-button {
    transform: translate(89vw, 5vh);
    z-index: -1;
    display: inline-block;
}

.stats-cont {
    display: none;
    position: absolute;
    right: 10vh;
    z-index: 2;
    width: 50vh;
    top: 1vh;
}

.stats {
    border-radius: 100%;
    background-color: blue;
    height: 8vh;
    width: 8vh;
    margin: 1vh;
    display: inline-block;
    vertical-align: top;
    line-height: 8vh;
    color: white;
    font-size: 5vmin;
}

.stats-header {
    display: inline;
}

.info-cont {
    display: inline-block;
    height: 12vh;
    width: 10vh;
    text-align: center;
}

.info-cont>h4 {
    color: blue;
    font-size: 2.5vmin;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .06em;
}

.stats-num {
    font-size: 2vmin;
}